.formLogin{
    padding: 10px;
  
}
.main{
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #8888;
    position:absolute;
    margin:auto;
    width: 100%;
    text-align: left;
}
.banner{
    /* height: 100vh; */
    width: 100%;
    margin-bottom: 50px;
}
.parentLogin{
    margin-top: 50px;
  
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 100%;
}
.submit{
    align-items: center;
    justify-items: center;
    display: grid;
   
}
.btnSubmit{
    width: 40% !important;
    border-radius: 20px;
}
.input{
    border-radius: 20px !important;
}
.error{
    color: red;
    font-style: italic;
}
